#root {
  font-family: "SUSE", sans-serif;
  height: 100vh;
  overflow: hidden;
  // background-color: #3A0032;
  background-color: var(--md-sys-color-surface);
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #68355C;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFD7F0;
    border-radius: 5px;
  }
}

.left-column {
  padding: 40px 10px 40px 40px;
  color: #C73BAF;
  text-align: left;
  overflow: hidden;
  height: 100vh;

  .highlight {
    font-weight: 300;
    color: #FFD7F0;
  }

  h1 {
    color: #FF7AE2;
  }

  md-filled-button {
    margin: 20px 0px;
    cursor: pointer;
  }

  md-icon-button {
    cursor: pointer;
  }

  sub {
    color: #E9A6D3;
  }

  ul {
    font-weight: 300;
    font-size: small;
  }

  .left-body {
    height: calc(100vh - 250px);
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background: #68355C;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #FFD7F0;
      border-radius: 5px;
    }
  }
}

.middle-column {
  background-color: #4E1E44;
  padding: 40px 0px;
  height: 100vh;

  h6 {
    color: white;
    margin-left: 40px;
    font-weight: 500;
  }
}

.right-column {
  height: 100vh;
  overflow: hidden;
}

// ///////////////////////////////////////////////

.home {
  padding: 40px;
  height: 100%;
  position: relative;
  color: #C73BAF;

  .highlight,
  b {
    font-weight: bold;
    color: #FFD7F0;
  }

  h1 {
    color: #FF7AE2;
  }

  .description {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    // background-color: #4E1E44;
    color: white;

    span {
      a {
        text-decoration: none;
        margin: 0px 5px;
        // color: #C73BAF;
      }
    }

    #git-ref {
      text-decoration: none;
      position: absolute;
      right: 20px;
    }
  }
}