#root {
  font-family: "SUSE", sans-serif;
  min-height: 100vh;
  background-color: var(--md-sys-color-surface);
  &::-webkit-scrollbar {
    width: 7px;
  }

  &::-webkit-scrollbar-track {
    background: #68355C;
  }

  &::-webkit-scrollbar-thumb {
    background: #FFD7F0;
    border-radius: 5px;
  }
}

.left-column {
  padding: 40px 10px 40px 40px;
  color: var(--md-sys-color-on-surface);
  text-align: left;
  overflow-y: hidden;
  height: 100vh;

  .highlight {
    font-weight: 300;
    color: #FFD7F0;
    cursor: pointer;
  }

  h1 {
    color: #FF7AE2;
  }

  md-filled-button {
    margin: 20px 0px;
    cursor: pointer;
  }

  md-icon-button {
    cursor: pointer;
  }

  sub {
    color: #E9A6D3;
  }

  ul {
    font-weight: 300;
    font-size: small;
  }

  .input-example {
    padding: 0px 15px 15px 15px;
    // color: #E9A6D3;
    font-size: small;
    overflow-y: auto;
  }

  .left-body {
    height: calc(100vh - 250px);
    overflow-y: auto;
    padding-right: 10px;

    &::-webkit-scrollbar {
      width: 4px;
    }
  
    &::-webkit-scrollbar-track {
      background: #68355C;
    }
  
    &::-webkit-scrollbar-thumb {
      background: #FFD7F0;
      border-radius: 5px;
    }
  }
  
  .page-list-column {
    text-align: center;
    #text-input {
      padding-top: 10px;
      text-align: left;
    }
  
    #page-list-column-title {
      font-size: medium;
      margin: 10px 0px;
    }
  }
}

.right-column {
  height: 100vh;
  overflow: hidden;
  background-color: var(--md-sys-color-primary-container);
  border-radius: 15px;
  #pdf-viewer-title {
    padding: 10px 0px;
    text-align: center;
  }
}

// ///////////////////////////////////////////////

.home {
  padding: 40px;
  min-height: 100vh;
  color: #C73BAF;
  position: relative;

  .highlight,
  b {
    font-weight: bold;
    color: #FFD7F0;
  }

  h1 {
    color: #FF7AE2;
  }

  #body {
    display: flex;
    justify-content: center;
    #description {
      width: 50%;
      margin: 10vh 0px;
    }
  }


  .footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    color: white;
    text-align: right;

    #git-ref {
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 768px) {
  .home {
    font-size: smaller;

    #body{
      #description {
        width: 100%;
        margin: 5vh 0px;
      }
    }
  }
  .left-column {
    height: auto;
    .left-body{
      height: auto;
    }
  }
}