/* You can add global styles to this file, and also import other style files */
:root{
    --md-sys-color-primary: rgb(246 178 224);
    --md-sys-color-surface-tint: rgb(246 178 224);
    --md-sys-color-on-primary: rgb(78 30 68);
    --md-sys-color-primary-container: rgb(104 53 92);
    --md-sys-color-on-primary-container: rgb(255 215 240);
    --md-sys-color-secondary: rgb(220 190 208);
    --md-sys-color-on-secondary: rgb(62 42 56);
    --md-sys-color-secondary-container: rgb(86 64 79);
    --md-sys-color-on-secondary-container: rgb(249 218 236);
    --md-sys-color-tertiary: rgb(245 185 162);
    --md-sys-color-on-tertiary: rgb(75 38 23);
    --md-sys-color-tertiary-container: rgb(102 60 43);
    --md-sys-color-on-tertiary-container: rgb(255 219 206);
    --md-sys-color-error: rgb(255 180 171);
    --md-sys-color-on-error: rgb(105 0 5);
    --md-sys-color-error-container: rgb(147 0 10);
    --md-sys-color-on-error-container: rgb(255 218 214);
    --md-sys-color-background: rgb(24 18 21);
    --md-sys-color-on-background: rgb(236 223 229);
    --md-sys-color-surface: rgb(24 18 21);
    --md-sys-color-on-surface: rgb(236 223 229);
    --md-sys-color-surface-variant: rgb(79 68 74);
    --md-sys-color-on-surface-variant: rgb(210 194 202);
    --md-sys-color-outline: rgb(155 141 148);
    --md-sys-color-outline-variant: rgb(79 68 74);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(236 223 229);
    --md-sys-color-inverse-on-surface: rgb(54 46 51);
    --md-sys-color-inverse-primary: rgb(131 76 116);
    --md-sys-color-primary-fixed: rgb(255 215 240);
    --md-sys-color-on-primary-fixed: rgb(53 8 46);
    --md-sys-color-primary-fixed-dim: rgb(246 178 224);
    --md-sys-color-on-primary-fixed-variant: rgb(104 53 92);
    --md-sys-color-secondary-fixed: rgb(249 218 236);
    --md-sys-color-on-secondary-fixed: rgb(40 22 35);
    --md-sys-color-secondary-fixed-dim: rgb(220 190 208);
    --md-sys-color-on-secondary-fixed-variant: rgb(86 64 79);
    --md-sys-color-tertiary-fixed: rgb(255 219 206);
    --md-sys-color-on-tertiary-fixed: rgb(50 18 5);
    --md-sys-color-tertiary-fixed-dim: rgb(245 185 162);
    --md-sys-color-on-tertiary-fixed-variant: rgb(102 60 43);
    --md-sys-color-surface-dim: rgb(24 18 21);
    --md-sys-color-surface-bright: rgb(63 55 59);
    --md-sys-color-surface-container-lowest: rgb(18 12 16);
    --md-sys-color-surface-container-low: rgb(32 26 30);
    --md-sys-color-surface-container: rgb(36 30 34);
    --md-sys-color-surface-container-high: rgb(47 40 44);
    --md-sys-color-surface-container-highest: rgb(58 51 55);
    --md-extended-color-custom-color-color: rgb(164 201 254);
    --md-extended-color-custom-color-on-color: rgb(0 49 93);
    --md-extended-color-custom-color-color-container: rgb(32 72 118);
    --md-extended-color-custom-color-on-color-container: rgb(211 227 255);
  }
  
.suse-normal {
    font-family: "SUSE", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: SUSE;
    font-optical-sizing: auto;
    font-weight: normal;
    font-style: normal;
    src: url("../public/static/SUSE-Regular.ttf") format("truetype");
  }